<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="BrightstarMembershipProvider">
      <providers>
        <add name="BrightstarMembershipProvider"
             type="Brightstar.Membership.BrightstarMembershipProvider, Brightstar.Membership"
             applicationName="Test"
             connectionString="type=embedded;storesDirectory=stores;storeName=test"/>
      </providers>
    </membership>
  </system.web>
</configuration>